

body {
  font-family: 'Cantata One', serif, 'Imprima', sans-serif;
  text-align: center;
  font-size: 13px;
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.navbar a {
  color: black;
  font-size: 1.5em;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus {
    color: turquoise;
    background-color: white;

  }

.gray {
  color: gray;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;


}

.navbar .navbar-collapse {
  text-align: center;

}

.images {
  padding: 5%;
}

img {
  border-radius: 5%;
}

.thumbnail {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 1.5em;
  padding-bottom; 1.5em;
}

  .col-sm-9 {
  text-align: left;
}


